<launch>
    <!-- Set environment variable for OpenAI API Key -->
    <param name="/openai_api_key" value="$(env OPENAI_API_KEY)" />

    <!-- Define the run_tests argument with a default value of false -->
    <arg name="run_tests" default="false" />

    <!-- Manager Agent Node -->
    <node name="manager_agent" pkg="manager_agent" type="manager_agent.py" output="screen" />

    <!-- Structural Engineer Agent Node -->
    <node name="structural_engineer_agent" pkg="structural_engineer_agent" type="structural_engineer_agent.py" output="screen" />

    <!-- Stability Agent Node -->
    <node name="stability_agent" pkg="stability_agent" type="stability_agent.py" output="screen" />

    <!-- Test Node (always run) -->
    <node name="test_manager_agent" pkg="manager_agent" type="test_manager_agent.py" output="screen" />

    <!-- Agent Responses Logger Node -->
    <node name="agent_responses_logger" pkg="multi_agent_system" type="agent_responses_logger.py" output="screen">
        <env name="PYTHONUNBUFFERED" value="1" />
    </node>
</launch>
